.navbar {
    background-color: rgb(35, 40, 45);
    padding: 15px 30px
    text-align: center;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #fc0
}

.landing-container {
    background-color:grey;
    text-align: center;
    padding: 10px 20px;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.product-subtitle {
    font-size: small;
    color: rgb(82, 77, 77);
}

.hero-image {
    max-width: 100%;
    border: black;
    padding-bottom: 20px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.product-description {
    font-size: small;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

.main-footer {
    background-color: white;
    padding: 15px 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.main-footer:hover {
    color: #fc0;
}